.cta-primary {
    display: inline-block;
    background-color: hubl("$cta_background");
    border: 2px solid hubl("$cta_background");
    color: hubl("$cta_color");
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: $borderRadius;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;
    &:hover {
        background-color: hubl("$cta_hover_background");
        border: 2px solid hubl("$cta_background");
        color: hubl("$cta_hover_color");
        -webkit-appearance: none;
    }
    p,
    span,
    strong {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }
    &--white-border {
        &:hover {
            border: 2px solid hubl("$cta_hover_background");
        }
    }
}

.cta-secondary {
    display: inline-block;
    background-color: transparent;
    border: 2px solid hubl("$cta_hover_background");
    color: hubl("$cta_color");
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: $borderRadius;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;
    &:hover {
        background-color: hubl("$cta_hover_background");
        border: 2px solid hubl("$cta_background");
        color: hubl("$cta_hover_color");
        -webkit-appearance: none;
    }
    p,
    span,
    strong {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
    }
    &--white-border {
        &:hover {
            border: 2px solid hubl("$cta_hover_background");
        }
    }
}

@media(max-width:920px) {
    .portfolio .cta_button {
        min-width: 1px!important;
    }
    .portfolio .span3 {
        text-align: center;
    }
}