.lodar{
    .features-text {
        margin-bottom: 40px;
    }
    .services {
        span {
            display: flex;
            justify-content: center;
            @media (max-width: 767px){
                flex-wrap: wrap;
            }
            >div {
                width: 100%;
                @media (min-width: 768px){
                    width: 25%;
                }
            }
        }
    }
}