.lodar {
    &.about {
        h2 {
            font-weight: 600;
        }
        .intro-section {
            padding-top: 50px;
            .hs_cos_flex-direction-nav {
                display: none;
            }
            .hs_cos_flex-control-paging li a {
                // background: rgba(#c8102e, .25);
                background: rgba(#000, .25);
                
                box-shadow: none;
                &.hs_cos_flex-active {
                    // background: rgba(#c8102e, .75);
                    background: rgba(#000, .75);
                    
                }
            }
        }
        .products-slider-module {
            padding: 30px 0 50px;
            .widget-type-rich_text {
                text-align: center;
            }
        }
        .slick-arrow {
            top: 50%;
            transform: translateY(-50%);
            &:before {
                background-image: none;
                font-family: FontAwesome;
                color: #333;
                content: '\f190';
                line-height: 58px;
                font-size: 25px;
                opacity: .6;
                transition: inherit;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
            &.slick-prev {
                left: 0;
            }
            &.slick-next {
                right: 0;
            }
        }
    }
}