.pricing {
       /*section.hero-banner{
        h1{
           strong{
               color: $mainColor;
           }
        }
    }*/
    .pricing-section-header{
        max-width: 1000px;
        margin: 0 auto;
        .widget-type-rich_text{
            text-align:center;
        }
    }
    section.question{
        padding:85px 0;
        float: left;
        width: 100%;
        h3 {
            color: hubl("$main_font_color");
            font-size: 40px;
            span {
                color: hubl("$cta_background");
                letter-spacing: 3px;
            }
        }
    }
    .brands-slider{
        &.pricing{
            .slick-dots{
                display: block;
                left:0;
                bottom: 15px;
                li {
                    margin: 0;
                }
            }        
            .slick-list{
                min-width: 100% !important;
                display:flex;
                justify-content:center;
                margin: 0!important;            
            }
            .slick-arrow{
                display:none!important;
            }
            button.slick-prev.slick-arrow + div.slick-list{
                display:block;
            }
            margin-bottom: 0;
            .slick-prev + .slick-list{
                display:block;                
            }
            .slick-list{
                width:100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    @media (max-width: 767px) {
        section.question {
            .span6.widget-span.widget-type-cell {
                margin-bottom: 30px;
            } 
        }
    }
}

