.dealer-locator{
	.hero-banner .hero-banner-wrap{
		    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    text-align: left;

	}
	.hero-banner .hero-banner-wrap h1, .hero-banner .hero-banner-wrap h2{
		text-align:left;
	}

}