footer {
    &.lodars-footer {
        .widget-type-header {
            h3 {
                font-weight: 400;
                margin-bottom: 40px;
                text-align: center;
                position: relative;
            }
            @media (min-width: 768px) {
                &.heading-left {
                    h3 {
                        text-align: left;
                    }
                }
                &.heading-right {
                    h3 {
                        text-align: right;
                    }
                }
            }
        }
        .block {
            @media (max-width: 767px) {
                &--menu, &--slider, &--contact {
                    margin-bottom: 20px;
                }
            }
            &--menu {
                ul {
                    @media (max-width: 767px) {
                        display: block;
                        text-align: center;
                        max-width: 350px;
                        margin: 0 auto 20px;
                    }
                }
                li {
                    float: none !important;
                    display: block;
                    margin-bottom: 15px;
                    font-size: 16px;
                    a {
                        padding: 0;
                        font-size: 16px;
                        color: hubl("$main_font_color");
                        font-weight: 400;
                        text-transform: uppercase;
                        display: block;
                    }
                }
            }
            &--slider {
                text-align: center;
                .slick-dots li button:before {
                    font-size: 26px;
                }
                .footer-testimonial {
                    &__desc {
                        margin-bottom: 25px;
                    }
                    &__name {
                        font-weight: bold;
                        span {
                            font-weight: 400;
                            color: hubl("$cta_background");
                        }
                    }
                }
            }
            &--contact {
                .contact-row {
                    margin-bottom: 20px;
                    display: flex;
                    @media (max-width: 767px) {
                        max-width: 350px;
                        margin: 0 auto 20px;
                    }
                    p {
                        margin: 0;
                        font-size: 16px;
                        a {
                            font-size: 16px;
                            color: hubl("$cta_background");
                        }
                        &.title {
                            width: 40%;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                        &.phone {
                            width: 60%;
                            text-align: right;
                        }
                    }
                }
            }
            &--bottom {
                text-align: center;
                padding: 20px 0;
            }
            &--middle {
                margin: 0 auto !important;
                float: none;
                max-width: 650px;
                text-align: center;
                .widget-type-linked_image {
                    max-width: 110px;
                    margin: 0 auto;
                    @media (max-width: 550px) {
                        max-width: 70px;
                    }
                }
                .widget-type-rich_text {
                    ul {
                        list-style-type: none;
                        display: flex;
                        padding: 10px 0;
                        margin: 0;
                        li {
                            font-size: 12px;
                            padding: 0 10px;
                            border-right: 1px solid hubl("$main_font_color");
                            line-height: 1;
                            &:last-of-type {
                                padding-right: 0;
                                border: 0px;
                            }
                            a {
                                padding: 0;
                                line-height: 1;
                                font-size: 10px;
                                color: hubl("$main_font_color");
                            }
                            &:before {
                                content: none;
                                padding: 0;
                            }
                        }
                    }
                }
                .footer-images {
                    .row-fluid {
                        // @media (max-width: 767px) {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .widget-type-linked_image {
                            padding: 5px;
                        } // }
                    }
                }
            }
        }
        .menu-middle-part {
            padding-top: 30px;
        }
        .social-icons-ld {
            background-color: hubl("$cta_background");
            padding: 30px 0;
            .container {
                max-width: 900px;
                >div>div>div {
                    display: flex;
                    justify-content: space-between;
                }
                .widget-type-linked_image {
                    max-width: 100px;
                    margin: 0;
                    width: 100%;
                    @media (max-width: 400px) {
                        max-width: 70px;
                    }
                }
            }
        }
    }
}