.portfolio-website-listing{





	// HERO BANNER
	.hero-banner{
		margin-bottom: 0px;

        h1{
            font-weight: 700;
            span{
                 font-weight: 700;

            }
        }
        h2{
               color: #fff;
    font-size: 20px !important;
    font-weight: 200 !important;
    margin: 26px 0px 42px 0px;
        }
	}

.portfolio-menu-wraper{
    background: hubl("$first_color"); 
    min-height: 85px;
    width: 100%;
    ul{
        display: flex!important;
        list-style: none;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        min-height: 80px;
        @media screen and (min-width:0\0) {
            height: 80px;
        }
        @media only screen and (max-width : 494px) {
            
            flex-wrap: wrap;
            
        }
        li{
            width: auto;
            a{
                padding: 0 20px;
                color: #fff;
                @media only screen and (max-width : 494px) {
                    padding: 0 10px;
                }
                &:hover{
                    color: hubl("$main_font_color");
                }
                &:visited{
                   // color: hubl("$cta_color");
                }
                &:active{
                    color: hubl("$cta_color");
                }
            }
            a.active{
                color: hubl("$main_font_color");
            }
        }
    }
}

	// PORTFOLIO LISTING 
.blog-portfolio-wraper{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 13px solid hubl("$first_color");
    transition: opacity 0.3s linear;
	 width: 100%;

        .portfolio-item-wrapper{
            position: relative;
            width: 25%;
            padding-bottom: 0%;
            
            @media only screen and (max-width : 1359px) {
                width: 33.333%;
              //  padding-bottom: 33.333%;
            }
            @media only screen and (max-width : 1024px) {
                width: 50%;
              //  padding-bottom: 50%;
            }
            @media only screen and (max-width : 675px) {
                width: 100%;
               // padding-bottom: 100%;
            }
        }
        .portfolio-blog{
            //background-image: none!important;
            width: 100%;
            padding-bottom: 100%;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            display: block;
            
            &.new-items{
                opacity:0;
            }
            &:hover .portfolio-hover{
                &.hover-left{
                    left:0;
                    bottom:0;
                    height:100%;
                    width:100%;
                    transition: width 0.4s;
                    transition-delay: 0.2s;
                }
                &.hover-right{
                    right:0;
                    bottom:0;
                    height:100%;
                    width:100%;                    
                    transition: width 0.4s;
                    transition-delay: 0.2s;
                }
                &.hover-top{
                    left:0;
                    top:0;
                    height:100%;
                    width:100%;                    
                    transition: height 0.4s;
                    transition-delay: 0.2s;
                }
                &.hover-bottom{
                    left:0;
                    bottom:0;
                    height:100%;
                    width:100%;                    
                    transition: height 0.4s;
                    transition-delay: 0.2s;

                }

            }
            .portfolio-hover{
                position: absolute;
                height: 0px;
                width: 0px;
                background-color: hubl_rgba("$first_color", .61);
                z-index: 1;
                overflow: hidden;
                &.hover-left{
                    left:auto;
                    bottom:auto;
                    height:100%;
                    width:100%;
                }
                &.hover-right{
                    right:auto;
                    bottom:auto;
                    height:100%;
                    width:100%;                    
                }
                &.hover-top{
                    left:auto;
                    top:auto;
                    height:100%;
                    width:100%;                    
                }
                &.hover-bottom{
                    left:auto;
                    bottom:auto;
                    height:100%;
                    width:100%;                    
                }
                &.hide-left{
                    left:0;
                    bottom:0;
                    top:auto;
                    right:auto;
                    height:100%;
                    width:0%;
                    transition: width 0.4s;
                }
                &.hide-right{
                    right:0;
                    bottom:0;
                    top:auto;
                    left:auto;
                    height:100%;
                    width:0%;                    
                    transition: width 0.4s;
                }
                &.hide-top{
                    left:0;
                    top:0;
                    height:0%;
                    width:100%;                    
                    transition: height 0.4s;
                }
                &.hide-bottom{
                    left:0;
                    bottom:0;
                    height:0%;
                    width:100%;                    
                    transition: height 0.4s;
                }                
                .content{
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%) scale(0);
                    z-index: 3;
                    overflow: hidden;
                    width: 100%;
                    transition:0.3s all ease-in-out;
                    &.visible{
                        transform: translate(-50%,-50%) scale(1);
                    }
                    a{
                        width:81px;
                        height: 81px;
                        border-radius: 50%;
                        margin: 0 auto;
                        background: none;
                        display: table;
                        border: 2px solid #fff;
                        text-align: center;
                        &:hover{
                            background: #fff;
                            i{
                                color: hubl("$first_color");

                            }
                        }                      
                        i{
                            display: table-cell;
                            vertical-align: middle;
                            color: #fff; 
                            font-size: 34px;

                        }
                    }   
                    h4{
                        color:#fff;
                        font-size: 35px;
                        text-transform: uppercase;
                        font-weight: 700;
                        text-align: center;
                    }
                    ul{
                        list-style: none;
                        text-align: center;
                        li{
                            color:#fff;
                            font-size: 16px;
                            font-weight: 200;
                        }
                    }
                }

            }
        }
    
}
}