.transmitters{
	
	.footer-top{
		.hs-menu-wrapper.hs-menu-flow-vertical > ul li a{
			padding:0px;
			font-size:14px;
		}
		h3{
			text-align:center;
		}
		.person{
			text-align:center;

			span{
				color:#c8102e;
			}
		}
		.testimonial-text{
			text-align:center;
		}
		li{
			font-size:14px;
			span{
				float:right;
				color:#c8102e;
			}
		}
		li:before{
			content:"";
			display:none;
		}
		.hs-menu-item{
			a{

				color:#626262;
				
			}
			a:hover{
				color:#c8102e;
				text-decoration: underline;
			}
		}
	}


}
html#ecwid_html body#ecwid_body .ecwid .transmit_box img{
	height:-webkit-fill-available;
}
.cstmz_widget{
	.widget_header{
		display:none;
	}
}