.warranty{
	.hs_cos_wrapper_type_rich_text ul li:before{
		background-image:url("https://cdn2.hubspot.net/hubfs/2879986/pic.png");
		content:"";
		background-size:100%;
		top:12.5px;
	}

	.right-text{
		padding-top:100px;
	}
	.second-section{
		padding:50px;
		.container{
			max-width:600px;
			margin:auto;
		}
		.widget-type-linked_image{
			text-align: center;
			margin:auto;
		}
		h2{
			text-align:center;
		}
		form{
			label{
				display:none;
			}
			.input{
				border:1px solid #626262;
				
			}
			input,textarea{
				color:#626262;
			}
			textarea{
				margin-top:0px!important;
			}
			input[type="submit"]{
				color:white;
				width:100%;
			}
			input[type="submit"]:hover{
				color:#c8102e;
			}

		}
	}
	.mask{
		display:none;
	}

	    .testimonials .testimonial-text {
	        font-weight:400;
	       	 -webkit-font-smoothing: antialiased;
			-webkit-text-stroke:1px transparent;

	    }

	@media(max-width:768px) and (min-width:900px){
		section.loading-circle .circle{
			width:140px;
			height:140px;
		}
	}
}