.lodar-lp-simple {
    .main-content {
        margin-top: 70px;
        padding-top: 70px;
    }
    .half-container{
        max-width: 585px;
        width: 100%;
        padding: 0 15px;
         @media(max-width: 767px){
                     max-width: 100%;
                }
    }
    .main-content{
        margin-top: 0px;
    }
    .content-landing{
        margin-bottom: 0px;

        .flex-wrapper{
            display: flex!important;
            flex-wrap:wrap;
            & > div{
                width: 50%!important;
                @media(max-width: 767px){
                     width: 100%!important;
                }
                &:first-child{
                    padding-top: 60px;
                    .half-container{
                        margin-left: auto;
                        margin-right: 0px;
                    }
                }
                &:last-child{
                    padding-top: 60px;
                    padding-bottom: 40px;
                    background-color: #ae1231;
                    .half-container{
                        margin-left: 0px;
                        margin-right: auto;
                    }
                }
            }
        }
    }
    .column {
        h2,h1 {
            margin-top: 0px;
            margin-bottom: 33px;
            letter-spacing: 0.04em;
            text-align: left;
            text-transform: none;
            font-weight: 300;
            font-size: 36px;
    color: #626262;
        }
    }
    .form-wrapper {
        // background-color: hubl("$cta_background");
        padding: 35px 50px;
         ::-webkit-input-placeholder {
            color: #fff;
        }
         ::-moz-placeholder {
            color: #fff;
        }
         :-ms-input-placeholder {
            color: #fff;
        }
         :-moz-placeholder {
            color: #fff;
        }
        form {
            &>div {
                margin-bottom: 25px;
            }
            .hs-error-msgs {
                label,
                a {
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
        h3 {
            color: #fff;
            margin: 0px 0px 30px 0px;
            font-weight: 200;
        }
        select {
            background-color: transparent;
            border: 1px solid #fff;
            padding: 15px;
            background-position-x: 98%;
            background-position-y: 50%;
        }
        select::-ms-expand {
                display: none;
            }
        input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
            border: 1px solid #fff;
            padding: 15px;
        }
        input[type="submit"] {

            background-color: #000;
            color: #fff;
            padding: 15px 30px;
            width: 100%;
            border-radius: 10px;
        }
        input[type="radio"] {
            &.hs-input+span:before {
                background-color: transparent!important;
                top: 10px!important;
                border: 2px solid #fff;
                content: ''!important;
            }
            &.hs-input+span:after {
                background-color: #fff!important;
                top: 10px!important;
                border: none;
                content: ''!important;
                border-radius: 50%;
                width: 6px;
                height: 6px;
            }
            &:checked+span:before {
                border-color: hubl("$first_color")!important;
            }
            &:checked+span:after {
                background-color: hubl("$first_color")!important;
            }
        }
        input[type="checkbox"] {
            &.hs-input+span:before {
                background-color: #fff!important;
                top: 11px!important;
                border-radius: 3px!important;
                content: ''!important;
            }
            &.hs-input+span:after {
                content: ''!important;
            }
            &:checked+span:before {
                color: hubl("$first_color")!important;
            }
            &:checked+span:after {
                color: hubl("$first_color")!important;
                content: "\f00c "!important;
                font-size: 12px;
                text-align: center;
                left: -2px!important;
                height: 16px!important;
            }
        }
    }
}