.sodium-blog {
    .hs-error-msgs a {
        font-size: 18px;
    }
    .post-header {
        margin: 50px 0 30px;
    }
    hr {
        clear: both;
        border-bottom: 1px solid #f6f6f6;
        border-top: 0;
    }
    .hs-blog-listing,
    .hs-blog-post {
        .body-container-wrapper {
            margin-top: 70px;
        }
    }
    .border-right {
        margin: 67px 0;
        border-right: 1px solid #e5e5e5;
        padding-right: 22px;
        @media (max-width: 767px) {
            border-right: 0;
            padding-right: 0;
        }
    }
    .listing-blog {
        .single-post {
            position: relative;
            padding: 37px 0px;
            img {
                width: 100%;
            }
            h3 {
                font-size: 31px;
                color: hubl("$cta_background");
                font-weight: 300;
                margin-top: -8px;
                margin-bottom: 0px;
                @media(max-width: 767px) {
                    margin-top: 5px;
                }
            }
            .content {
                font-size: 16px;
                color: hubl("$main_font_color");
                font-weight: normal;
                text-align: justify;
            }
            a.button {
                margin-top: 25px;
                background-color: hubl("$cta_background");
                border-color: hubl("$cta_background");
                color: hubl("$cta_color");
                display: inline-block;
                padding: 8.5px 20px;
                bottom: 38px;
                font-size: 16px;
                &:hover {
                    background-color: hubl("$cta_hover_background");
                    border-color: hubl("$cta_hover_color");
                    color: hubl("$cta_hover_color");
                }
                @media (max-width: 1099px) {
                    position: static;
                }
            }
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
                a.button {
                    bottom: 0;
                }
            }
        }
        .post-details {
            padding: 0px;
            margin: 5px 0px 17px 0px;
            li {
                font-size: 14px;
                color: hubl("$main_font_color");
                display: inline-block;
                a {
                    color: hubl("$main_font_color");
                    font-size: 11px;
                }
                i {
                    color: hubl("$cta_background");
                    font-size: 11px;
                    font-size: 11px;
                }
            }
        }
        .pagination {
            margin-top: 10px;
            margin-bottom: 60px;
            .disabled {
                display: none;
            }
            li {
                display: inline-block;
                a {
                    color: hubl("$main_font_color");
                    border-radius: 2px;
                    display: block;
                    line-height: 22px;
                    border: solid 1px #ebebeb;
                    height: 27px;
                    width: 24px;
                    text-align: center;
                    font-size: 16px;
                    &:hover {
                        background-color: hubl("$cta_background");
                        border: solid 1px hubl("$cta_background");
                        color: #fff;
                    }
                }
                &.active {
                    a {
                        background-color: hubl("$cta_background");
                        border: solid 1px hubl("$cta_background");
                        color: #fff;
                    }
                }
            }
        }
    }

    #captcha_wrapper #recaptcha_area,
    #captcha_wrapper #recaptcha_table {
        width: auto!important;
    }
    .blog-section {
        border-left: 1px solid #fafafa;
        padding-left: 15px;
        position: relative;
        @media (max-width: 1250px) {
            margin-left: 55px;
        }
        #recaptcha_area,
        #recaptcha_table {
            margin-left: -3px;
        }
        a {
            color: hubl("$cta_background");
            &:hover {
                text-decoration: underline;
            }
        }
        .post-body {
            ul {
                list-style: none;
                padding-left: 40px;
                li {
                    position: relative;
                    &:before {
                        content: "\f00c";
                        font-family: FontAwesome;
                        position: absolute;
                        background-image: none;
                        color: hubl("$cta_background");
                        width: 16px;
                        height: 16px;
                        background-position: center;
                        left: -30px;
                        top: 50%;
                        transform: translateY(-50%);
                        /**/
                    }
                }
            }
            ol {
                counter-reset: li;
                list-style: none;
                padding-left: 40px;
                li {
                    position: relative;
                    &:before {
                        color: hubl("$cta_background");
                        counter-increment: li;
                        content: counter(li);
                        position: absolute;
                        width: 16px;
                        background-position: center;
                        left: -25px;
                        top: 50%;
                        display: block;
                        font-size: 20px;
                        transform: translateY(-50%);
                        vertical-align: middle;
                        height: 32px;
                    }
                }
            }
            h1,
            h2 {
                text-align: left;
            }
            blockquote {
                margin-left: 0px;
                margin-right: 0px;
                position: relative;
                text-align: center;
                &:before {
                    content: "\f10d";
                    font-family: "FontAwesome";
                    color: hubl("$cta_background");
                    display: inline-block;
                    padding-right: 10px;
                    font-size: 25px;
                    position: relative;
                    top: 0px;
                    line-height: 0;
                }
                &:after {
                    content: "\f10e";
                    font-family: "FontAwesome";
                    color: hubl("$cta_background");
                    display: inline-block;
                    padding-left: 10px;
                    font-size: 25px;
                    position: relative;
                    bottom: -10px;
                    line-height: 0;
                }
                p {
                    display: inline;
                }
            }
        }
        img {
            margin-bottom: 20px;
            height: auto;
        }
        h2 {
            &.blog-title {
                margin-top: 55px;
                font-size: 31px;
                color: $mainColor;
                text-align: left;
                font-weight: 400;
            }
        }
        ul {
            .social {
                padding: 0px;
                margin: 0px;
                margin-bottom: 40px;
                li {
                    margin-right: 10px;
                    display: inline-block;
                    &:before {
                        display: none;
                    }
                    a {
                        height: 42px;
                        width: 42px;
                        display: block;
                        text-align: center;
                        line-height: 42px;
                        background-color: hubl("$cta_background");
                        border-radius: 3px;
                        border: solid 1px hubl("$cta_background");
                        color: hubl("$cta_color");
                        &:hover {
                            background-color: hubl("$cta_hover_background");
                            color: hubl("$cta_background");
                        }
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .post-details {
            padding: 0px;
            margin: 3px 0px 22px 0px;
            margin-top: 50px;
            li {
                font-size: 11px;
                color: #a09f9f;
                display: inline-block;
                a {
                    color: #a09f9f;
                }
                i {
                    color: hubl("$cta_background");
                    font-size: 11px;
                }
            }
        }
    }
    .post-cta {
        margin-bottom: 37px;
    }
    &.hs-blog-post {
        .social-blog {
            overflow: hidden;
            height: 250px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            position: absolute;
            border: 4px;
            overflow: hidden;
            width: 45px;
            transform: translateX(-60px);
            .social-list {
                height: 229px;
                position: absolute;
                left: 0;
            }
            ul {
                width: 45px;
                li {
                    background-color: hubl("$cta_background");
                    list-style: none;
                    width: 45px;
                    height: 45px;
                    padding: 7px 8px;
                    margin-bottom: 1px;
                    transition: 0.3s;
                    border: 2px solid hubl("$cta_background");
                    &:hover {
                        background-color: #fff;
                    }
                    &:hover a {
                        color: hubl("$cta_hover_color");
                    }
                    a {
                        display: block;
                        text-align: center;
                        font-size: 20px;
                        color: hubl("$cta_color");
                    }
                }
            }
            .hide-arrow {
                background-color: #e1e1e1;
                color: #FFF;
                text-align: center;
                border: 0;
                display: block;
                font-size: 16px;
                width: 45px;
                padding: 1px 0;
                cursor: pointer;
                margin-top: 229px;
            }
        }
    }
    .side-bar-blog {
        .blog-subscribe h3 {
            margin-top: 60px;
        }
        .block h3 {
            margin-top: 20px;
        }
        .about-this-blog-rt {
            margin-top: 50px;
            margin-bottom: 0;
            h3 {
                margin-bottom: 28px;
            }
        }
        h3 {
            font-size: 23px;
            color: hubl("$main_font_color");
            font-weight: 400;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .widget-type-form .form-title {
            font-size: 23px;
            color: hubl("$main_font_color");
            font-weight: 400;
            margin-bottom: 10px;
            margin-top: 15px;
        }
        .cta {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        ul {
            list-style-type: none;
            li {
                margin-bottom: 7px;
                margin-left: 2px;
                a {
                    text-transform: capitalize;
                    font-weight: 300;
                    color: hubl("$main_font_color");
                    font-size: 16px;
                    &:hover {
                        color: hubl("$cta_hover_color");
                    }
                    &:before {
                        content: "» ";
                        font-size: 20px;
                    }
                }
            }
        }
        ::-webkit-input-placeholder,
        :-moz-placeholder,
        ::-moz-placeholder,
        :-ms-input-placeholder {
            color: #b7b7b7;
        }
        form {
            .hs-form-field {
                margin-bottom: 10px;
            }
            input {
                border: 0;
                border-bottom: solid 1px hubl("$cta_background");
                margin-top: 0px;
                margin-bottom: 5px;
                color: hubl("$main_font_color");
                font-size: 16px;
                margin-left: 0;
                padding-left: 0;
            }
            label {
                color: hubl("$main_font_color");
                span {
                    color: hubl("$main_font_color");
                }
                position:relative;
            }
            input[type="checkbox"] {
                position: relative;
                height: 3px;
                width: 15px;
                top: -6px;
                margin-right: 3px;
                visibility: hidden;
                +span {
                    color: hubl("$main_font_color");
                }
                +span {
                    &:before {
                        content: "\f096";
                        position: absolute;
                        top: 5px;
                        left: -1px;
                        display: block;
                        color: #e0e0e0;
                        width: 16px;
                        height: 16px;
                        font-family: "FontAwesome";
                    }
                }
                &:checked {
                    +span {
                        &:before {
                            content: "\f14a";
                            color: hubl("$first_color");
                        }
                    }
                }
            }
            input[type="radio"] {
                position: relative;
                height: 3px;
                width: 15px;
                top: -6px;
                visibility: hidden;
                margin-right: 8px;
                +span {
                    color: hubl("$main_font_color");
                }
                +span {
                    &:before {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -1px;
                        background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/radio.png');
                        display: block;
                        /* background-repeat: no-repeat; */
                        width: 16px;
                        height: 16px;
                        background-position: 0px 0px;
                    }
                }
                &:checked {
                    +span {
                        &:before {
                            background-position: 16px 0px;
                        }
                    }
                }
            }
            select {
                background-color: #fff;
                border: 0;
                outline: 0;
                font-size: 16px;
                border-bottom: solid 1px $mainColor;
                color: $secondaryTextColor;
                margin-top: 0px !important;
                appearance: none;
                margin-top: 0px;
                border-radius: 0;
                background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow_down.png');
                background-repeat: no-repeat;
                background-position-x: 98%;
                background-position-y: 64%;
            }
            .hs-form-required {
                display: none;
            }
            input[type="submit"] {
                background-color: hubl("$cta_background");
                color: hubl("$cta_color");
                display: inline-block;
                font-size: 16px;
                border-radius: 5px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 4.5px 45px;
                border: solid 2px hubl("$cta_background");
                &:hover {
                    background-color: hubl("$cta_hover_background");
                    border: solid 2px hubl("$cta_background");
                    color: hubl("$cta_hover_color");
                    border-radius: 5px;
                }
            }
            .hs_submit {
                input {
                    color: hubl("$cta_color");
                    margin-top: 9px;
                    &:hover {
                        color: hubl("$cta_hover_color");
                    }
                }
            }
        }
    }
    .recent-posts {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1099px) {
            flex-direction: column;
            margin-bottom: 10px;
        }
    }
    .recent-post {
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        max-width: 260px;
        position: relative;
        height: 270px;
        background-color: hubl("$first_color");
        .recent-post-content {
            padding: 10px;
        }
        .recent-post-featured-image {
            width: 100%;
            height: 145px;
            background-size: cover;
        }
        .recent-post-info {
            margin: 0;
            font-weight: 300;
            color: #fff;
            font-size: 13px;
        }
        .recent-post-title {
            color: #fff;
            font-size: 18px;
            margin: 7px 0;
        }
        .recent-post-read-more {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        @media (max-width: 1099px) {
            margin-bottom: 30px;
            max-width: 520px;
        }
    }
    #comment-form {
        margin-bottom: 30px;
        input {
            border: solid 1px #f4f4f4;
            &.hs-button {
                margin-top: 21px;
                background-color: hubl("$cta_background");
                border: solid 1px hubl("$cta_background");
                padding: 7px 40px;
                text-transform: uppercase;
                border-radius: 3px;
                cursor: pointer;
                color: hubl("$cta_color");
                font-size: 18px;
                &:hover {
                    background-color: hubl("$cta_hover_background");
                    color: hubl("$cta_hover_color");
                }
            }
            &:focus {
                border-color: hubl("$cta_hover_color");
                -webkit-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
            }
        }
        textarea {
            resize: none;
            min-height: 190px;
            border: solid 1px #f4f4f4;
            outline: none;
            border-radius: 0px;
            &:focus {
                border-color: hubl("$cta_hover_color");
                -webkit-transition: all 0.3s linear;
                -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
            }
        }
        label {
            margin: 3px 0px;
            display: block;
        }
        h4 {
            font-size: 20px;
            font-weight: 600;
            color: hubl("$main_font_color");
            a {
                font-size: 20px;
                font-weight: 600;
                color: hubl("$main_font_color");
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    h3.title-comment {
        font-size: 24px;
        margin-top: 23px;
        margin-bottom: 33px;
        font-weight: 300;
        color: hubl("$main_font_color");
    }
    #hubspot-topic_data {
        margin: 33px 0px;
        font-size: 18px;
        a {
            color: hubl("$cta_background");
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .comment-date {
        font-size: 14px !important;
    }
    .comment-reply-to {
        background: none !important;
        padding-left: 3px !important;
        font-size: 16px;
        color: #666!important;
        &:before {
            content: "\f122";
            font-family: FontAwesome;
            color: hubl("$cta_background");
            font-size: 17px;
            padding-right: 7px;
        }
    }
    #comment-form {
        .hs-form-required {
            display: none;
        }
        ul.hs-error-msgs {
            list-style: none;
        }
        #captcha_wrapper {
            margin-left: -3px;
            margin-bottom: 10px;
        }
        .hs-form {
            fieldset {
                max-width: 100%;
                margin-bottom: 10px;
                textarea,
                input[type="text"],
                input[type="email"],
                input[type="number"] {
                    &.hs-input {
                        width: 100%;
                        color: hubl("$main_font_color");
                        font-size: 14px;
                        border-radius: 3px;
                        padding: 9px 15px;
                    }
                }
                input[type="radio"],
                input[type="checkbox"] {
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    top: -2px;
                    left: 2px;
                }
                label {
                    span {
                        // color: hubl("$main_font_color");
                    }
                    position:relative;
                }
                input[type="checkbox"] {
                    visibility: hidden;
                    +span {
                        &:before {
                            content: "\f096";
                            position: absolute;
                            top: 5px;
                            left: -1px;
                            display: block;
                            color: #e0e0e0;
                            width: 16px;
                            height: 16px;
                            font-family: "FontAwesome";
                        }
                    }
                    &:checked {
                        +span {
                            &:before {
                                content: "\f14a";
                                color: hubl("$first_color");
                            }
                        }
                    }
                }
                input[type="radio"] {
                    visibility: hidden;
                    +span {
                        &:before {
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: -1px;
                            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/radio.png');
                            display: block;
                            width: 16px;
                            height: 16px;
                            background-position: left top;
                        }
                    }
                    &:checked {
                        +span {
                            &:before {
                                background-position: 16px 0px;
                            }
                        }
                    }
                }
                &.form-columns-1 {
                    >.hs-form-field:first-of-type {
                        .input {
                            margin-right: 0px;
                        }
                    }
                }
                &.form-columns-2 {
                    >.hs-form-field:last-of-type {
                        .input {
                            margin-right: 0;
                            margin-left: 4px;
                        }
                    }
                    >.hs-form-field:first-of-type {
                        .input {
                            margin-right: 4px;
                            margin-left: 0;
                        }
                    }
                    &:first-of-type {
                        >.hs-form-field:nth-of-type(2) {
                            .input {
                                margin-right: 4px;
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .single-post-details {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 60px;
        @media (max-width: 767px) {
            width: 100%;
        }
        .avatar {
            height: 70px;
            width: 70px;
            border-radius: 50%;
            float: left;
            display: block;
            @media (max-width: 767px) {
                float: none;
                margin: 0 auto;
            }
        }
        p {
            margin: 21px 0 0 82px;
            color: #fff;
            white-space: nowrap;
            @media (max-width: 767px) {
                margin: 0;
                white-space: normal;
                text-align: center;
            }
            span {
                color: hubl("$cta_background");
            }
        }
        @media (max-width: 767px) {
            bottom: 15px;
        }
    }
    .comment-from {
        h4 {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 0px;
            a {
                color: hubl("$cta_background");
            }
        }
    }
    .comment-body {
        border: dashed 1px #dedede;
        border-left: solid 1px hubl("$cta_background");
        padding: 0px 20px;
        margin: 15px 0px;
    }
    .comment {
        &.depth-0 {
            &:first-child {
                margin-top: 10px !important;
            }
        }
    }
    .section {
        &.post-body {
            text-align: justify;
        }
    }
    @media screen and (max-width:767px) {
        .blog-section,
        .widget-type-blog_comments {
            padding-right: 0px;
        }
        .widget-type-blog_content {
            >.blog-section {
                padding-right: 0px;
            }
        }
        .side-bar-blog {
            .widget-type-blog_subscribe {
                display: none;
            }
        }
    }
    @media screen and (max-width:479px) {
        #comment-form {
            .hs-form {
                fieldset {
                    margin: 0px;
                    .input {
                        margin-bottom: 10px;
                    }
                    input[type="radio"],
                    input[type="checkbox"] {
                        margin-right: 10px;
                        margin-top: 0px;
                    }
                    &.form-columns-1 {
                        >.hs-form-field:first-of-type {
                            .input {
                                margin-right: 0px;
                            }
                        }
                    }
                    &.form-columns-2 {
                        >.hs-form-field:last-of-type {
                            .input {
                                margin-right: 0;
                                margin-left: 0px;
                            }
                        }
                        >.hs-form-field:first-of-type {
                            .input {
                                margin-right: 0px;
                                margin-left: 0;
                            }
                        }
                        &:first-of-type {
                            >.hs-form-field:nth-of-type(2) {
                                .input {
                                    margin-right: 0px;
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .error {
        margin: 0;
    }
}
