.product-page-listing-v2.lodar-blog-listing.hs-blog-listing {
	.search-banner{
		margin-top: 70px;
	}
    .listing-wrapper {
        .listing-blog {

            .featured-image {
                .image-wrapper {
                    height: 230px;
                    width: 100%;
                    background-size: cover;
                    background-position: center center;
                    position: relative;
                    @media(max-width: 767px) {
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 10px;
                        max-width: 100%;
                    }
                }
            }
            h3 {
                font-size: 24px;
                margin-top: 0px;
            }
            a.button {
                position: static;
            }
        }
        &.tiles {
            .single-post {
                width: 100%;

                @media(max-width: 1215px) {
                    width: calc(50% - 35px);
                   
                }
                @media(max-width: 950px) {
                    width: 100%;
                    max-width: 100%;
                    &:nth-child(even) {
					    margin-left: 25px;
					}
                }
                 @media(max-width: 767px) {
                    
                    &:nth-child(even) {
					    margin-left: 0px;
					}
                }

                .featured-image {

                    @media(max-width: 950px) {
                        width: 100%;
                    }
                    .image-wrapper {
                        height: 350px;

                        @media(max-width: 950px) {
                            max-width: 100%;
                        }
                        .hover{
                        	@media(max-width: 950px){
                        		clip: rect(700px, 700px, 700px, 0px);
                        	}
                        }
                        &:hover {
                            .hover {
                                @media(max-width: 950px) {
                                	left:0px;
                                	right: 0px;
                                    clip: rect(0px, 700px, 700px, 0px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination li a{
    	line-height: 25px;
    }
}