.lodar-blog-article {
    .small-header-for-blog {
        background-position: center center;
        background-size: cover;
    }
    .widget-type-form {
        .hs_submit {
            input[type="submit"] {
                padding: 10px 30px;
            }
        }
        .hs-error-msgs {
            label,
            a {
                font-size: 14px;
            }
        }
    }
    .widget-type-blog_comments {
        #comment-form input.hs-button {
            padding: 10px 30px;
            font-family: hubl("$font");
        }
        .hs-error-msgs {
            label,
            a {
                font-size: 14px;
            }
        }
        form{
            & > div{
                margin-bottom: 20px;
            }
        }
    }
}