	.features{
		margin-bottom:100px;
		h2{
			color:hubl("$cta_background");
			font-weight: 600;
			margin-top: 50px;
		}
		.feature{
			margin-top: 70px;

			.icon {
				font-size: 40px;
				line-height: 40px;
				text-align: center;
			}

			h3{
				font-size: 24px;
				font-weight: 600;
				margin-bottom: 10px;
		        margin-top:0px;
			}
			div.content{
				font-size: 16px;
			}
		}
	} 
	@media screen and (max-width:767px){
	    .features{
	        .feature{
	            text-align:center;
	            i, img {
	                margin-bottom: 15px;   
	            }
	        }
	    }
	}