.hero-event-clock{
  height: 600px;
  width: 100%;
  margin-top: 70px;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: #000;
    opacity: .35;
    z-index: 1;
  }
  .clock-wrap{
    z-index: 2;
    border: 2px solid hubl("$first_color");
    border-radius: 10px;
    max-width: 972px;
    width: 95%;
    height: 198px;
    display: table;
    @media only screen and (max-width : 580px) {
              height: 298px; 
    }
   
    .clock{
      padding:10px;
      width: 100%;
      color: #fff;
      display: flex;
      justify-content: center;
      margin-top: -15px;
      font-size: 70px;
      @media only screen and (max-width : 768px) {
           margin-top: 5px;
      }
      @media only screen and (max-width : 580px) {
        flex-wrap: wrap;    
      }

      span{
        display: block;
        float: left;
        margin: 0 5px;
        text-align: center;
        width: 20%;
        @media only screen and (max-width : 768px) {
            width: 20%;
        }
        @media only screen and (max-width : 580px) {
          width: 40%;    
        }
        strong{
          display: block;
          font-size: 130px;
          font-weight: 200;
          padding: 0;
          margin:0;
          line-height: 135px;
          width: 100%;
          @media only screen and (max-width : 768px) {
                font-size: 90px;
                line-height: 95px;
          }
          
        }
        small{
          display: block;
          font-size: 25px;
          text-transform: uppercase;
          font-weight: 200;
          padding: 0;
          margin:0;
          margin-top: 15px;
          @media only screen and (max-width : 580px) {
              font-size: 18px; 
              margin-top: 5px;
          }
        }
      }
      p{
        display: block;
        margin: 0;
        padding: 0;
        float: left;
        font-size: 130px;
        line-height: 135px;
        padding: 0 2%;
        @media only screen and (max-width : 768px) {
                font-size: 90px;
                line-height: 95px;
                padding: 0 5px;
        }
        &:nth-child(4){
          @media only screen and (max-width : 580px) {
              display: none;  
          }
        }
      }
    }
    .after-clock{
      display: table-cell;
      margin: 0;
      text-align: center;
      vertical-align: middle;
      @media only screen and (max-width : 480px) {
        font-size: 50px; 
      }

    }
  }
}








