.search-banner {
    height: 500px;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-color: #000;
    }
    .content {
        position: relative;
        z-index: 3;
        padding: 20px 15px;
        h1 {
            margin-top: 0px;
            text-transform: none;
            margin-bottom: 20px;
        }
        .search-wrapper {
        	width: 700px;
        	@media(max-width: 1024px){
				max-width: 700px;
				width: 100%;
        	}	
             ::-webkit-input-placeholder {
                font-size: 16px;
                font-weight: 300;
                font-family: hubl("$font"), sans-serif;
                opacity: 0.5;
            }
             ::-moz-placeholder {
                font-size: 16px;
                font-weight: 300;
                font-family: hubl("$font"), sans-serif;
                opacity: 0.5;
            }
             :-ms-input-placeholder {
                font-size: 16px;
                font-weight: 300;
                font-family: hubl("$font"), sans-serif;
                opacity: 0.5;
            }
             :-moz-placeholder {
                font-size: 16px;
                font-weight: 300;
                font-family: hubl("$font"), sans-serif;
                opacity: 0.5;
            }
            .input {
            	position: relative;
            	z-index: 2;
            	a{
            		background-color: hubl("$cta_background");
            		position: absolute;
            		top:0px;
            		right: 0px;
            		display: block;
            		width: 50px;
            		height: 50px;
            		border-top-right-radius: 5px;
            		border-bottom-right-radius: 5px;
            		text-align: center;
            		line-height: 50px;
            		cursor: pointer;
            		z-index: 5;
            		transition: opacity 0.3;
            		&:before{
            			content: '\f002';
            			font-family: 'FontAwesome';
            			color: #fff;
            		}
            		&:hover{
            			opacity: .9;
            		}

            	}
                input {
                	position: relative;
            	z-index: 3;
                    height: 50px;
                    outline: none;
                    font-size: 16px;
                    font-weight: 300;
                    font-family: hubl("$font"), sans-serif;
                    padding: 0 65px 0px 15px;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }
}