.side-banner{
	display: block;
    position: relative;
    min-width: 200px;
    width: 200px;
    height: 100vh;

}
.side-banner:before{
    	content:"";
    	display:block;
    	width: 700px;
    	height: 100%;
    	left: -490px;
    	position:absolute;
    	top:0px;
    	background-image:url("https://cdn2.hubspot.net/hubfs/2879986/1.jpg");
    	background-repeat:no-repeat;
    	background-size:cover;
    	background-position:center;
    }
@media(max-width:930px){
        
        .side-banner{
            
            display:none!important;

        }

}
