.slider-rec-posts {
    margin-top: 30px;
    margin-bottom: 30px;
    .slick-dots {
        bottom: -40px;
        li {
            button {
                &:before {
                    font-size: 40px;
					// color: hubl("$cta_background");
					color: #000;
                    transition: opacity .3s linear;
                }
            }
        }
    }
    &__slide {
        padding: 15px;
        width: 350px;
        height: 350px;
        background-size: cover;
        margin: 0px 10px;
        a {
            transition: all .3s linear;
            &:hover {
                img {
                    box-shadow: 0px 0px 10px 3px rgba(100, 100, 100, 0.2);
                }
            }
        }
        img {
            transition: all .3s linear;
            margin: auto;
        }
        &.single-product {
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            @media (max-width: 500px) and (min-width: 401px) {
                height: 300px;
                width: 300px;
            }
            @media (max-width: 400px) {
                height: 220px;
                width: 220px;
            }
            a {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        }
    }
}